<button type="button" aria-label="volver atrás" class="btn-back ms-5 position-absolute" (click)="back()"></button>
<div class="w-100 h-100 justify-content-between">
    <div class="card ms-auto me-auto mt-auto mb-auto shadow">
        <img class="card-img-top" src="../assets/agraja_logo.svg" alt="Card image cap">
        <div class="card-body">
            @if(!user){
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!-- Usuario -->
                    <div class="col">
                        <label for="user" class="form-label">Usuario</label>
                        <div class="input-group">
                            <span class="input-group-text" id="userAddon">
                                <img class="m-auto" src="../assets/images/person-fill.svg" alt="usuario">
                            </span>
                            <input type="text" class="form-control" id="user" aria-describedby="userAddon"
                                formControlName="user">
                        </div>
                    </div>

                    <!-- Contraseña -->
                    <div class="col mt-2">
                        <label for="password" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <span class="input-group-text" id="passAddon">
                                <img class="m-auto" src="../assets/images/key-fill.svg" alt="contraseña">
                            </span>
                            <input type="password" class="form-control" id="password" aria-describedby="passAddon"
                                formControlName="password">
                        </div>
                    </div>

                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            formControlName="save">
                        <label class="form-check-label" for="flexCheckDefault">
                            Recordarme
                        </label>
                    </div>

                    @if(errorMsg){
                        <div class="w-100">
                            <span class="fst-italic text-danger">{{errorMsg}}</span>
                        </div>
                    }

                    <div class="form-group w-100 mt-4">
                        <button type="submit" class="btn btn-success w-100" [disabled]="!form.valid">
                            <span>Entrar</span>
                            @if(isLoading) {
                            <span class="spinner-border spinner-border-sm pe-2 ms-2" aria-hidden="true"></span>
                            }
                        </button>
                    </div>
                </form>
            } @else {
                <div class="col">
                    <label for="userL" class="form-label">Usuario</label>
                    <div class="input-group">
                        <span class="input-group-text" id="userAddonL">
                            <img class="m-auto" src="../assets/images/person-fill.svg" alt="usuario">
                        </span>
                        <input type="text" class="form-control" id="userL" aria-describedby="userAddonL"
                            disabled [value]="user.name">
                    </div>
                </div>

                <!-- OPCIONES DE USUARIO -->

                <div class="accordion mt-3" id="userOptions">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Opciones de usuario
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#userOptions">
                        <div class="accordion-body">
                            <div class="fs-5">Cambio de contraseña</div>
                          
                            <form [formGroup]="formNewPass" (ngSubmit)="onSubmitNewPass()">
                            <div class="col mt-2">
                                <label for="aPassword" class="form-label">Contraseña actual</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="aPassAddon">
                                        <img class="m-auto" src="../assets/images/key-fill.svg" alt="contraseña">
                                    </span>
                                    <input type="password" class="form-control" id="aPassword" aria-describedby="aPassAddon"
                                        formControlName="password">
                                </div>
                            </div>

                            <div class="col mt-2">
                                <label for="newPass" class="form-label">Nueva contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="newPassAddon">
                                        <img class="m-auto" src="../assets/images/key-fill.svg" alt="contraseña">
                                    </span>
                                    <input type="password" class="form-control" id="newPass" aria-describedby="newPassAddon"
                                        formControlName="newPassword"  [ngClass]="{
                                            'is-invalid': formNewPass.get('newPassword')?.touched && formNewPass.get('newPassword')?.hasError('pattern')
                                        }">
                                </div>
                                @if(formNewPass.get('newPassword')?.touched && formNewPass.get('newPassword')?.hasError('pattern')){
                                    <div class="w-100">
                                        <span class="fst-italic text-danger">La contraseña no cumple con los requerimientos mínimos</span>
                                    </div>
                                }
                            </div>

                            <div class="col mt-2">
                                <label for="newPassR" class="form-label">Repetir contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="newPassAddonR">
                                        <img class="m-auto" src="../assets/images/key-fill.svg" alt="contraseña">
                                    </span>
                                    <input type="password" class="form-control" id="newPassR" aria-describedby="newPassAddonR"
                                        formControlName="newPasswordR" [ngClass]="{'is-invalid': formNewPass.hasError('passwordCompare')}">
                                </div>
                                @if(formNewPass.hasError('passwordCompare')){
                                    <div class="w-100">
                                        <span class="fst-italic text-danger">Las contraseñas no coinciden</span>
                                    </div>
                                }
                            </div>

                            @if(changePassOk && !isLoading){
                                <div 
                                    class="alert alert-success animate__animated animate__bounceInUp w-100 text-center mt-2 pt-1 pb-1"
                                    role="alert">
                                    👍Cambio con éxito!
                                </div>
                            }

                            <div class="form-group w-100 mt-4">
                                <button type="submit" class="btn btn-success w-100" [disabled]="!formNewPass.valid">
                                    <span>Actualizar contraseña</span>
                                    @if(isLoading) {
                                        <span class="spinner-border spinner-border-sm pe-2 ms-2" aria-hidden="true"></span>
                                    }
                                </button>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                <div class="form-group w-100 mt-4">
                    <button class="btn btn-success w-100" (click)="onExit()">
                        <span>SALIR</span>
                        @if(isLoading) {
                            <span class="spinner-border spinner-border-sm pe-2 ms-2" aria-hidden="true"></span>
                        }
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@if (errorRoleMsg) {
    <div  class="toast fade show ms-auto me-auto mt-5" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <span>⚠️</span>
        <strong class="me-auto">Error de permisos</strong>
        <small>requiere admin</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ errorRoleMsg }}
      </div>
    </div>
}




