<form [formGroup]="form" class="mb-1 ms-4 me-4" >
    <div class="row">
        <div class="col">
            <label for="cropType" class="form-label">Filtra por tipo de cultivo:</label>
            <select class="form-select" id="cropType" type="submit" aria-label="Selecciona el tipo de cultivo"
              formControlName="cropType" (change)="onSelect()">
                <option value="0" selected>Todos los cultivos</option>
                <ng-container *ngFor="let crop of cropTypes">
                    <option [value]="crop.id">{{crop.name}}</option>
                </ng-container>
            </select>
        </div>
            <div class="col-4 mt-auto">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                        formControlName="showHidden" (change)="onSelect()">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Mostrar inactivos</label>
                </div>
            </div>
    </div>
</form>

@if (loading) {
    <div class="row justify-content-evenly">
        <div *ngFor="let i of placeHoldersItems" class="col">
            <app-card-farmer-placeholder></app-card-farmer-placeholder>
        </div>
    </div>
}

@if (farmers.length > 0 && !loading) {
    <section
        class="row ms-auto me-auto row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 row-cols-sm-1 position-relative">
        @for(farmer of farmers; track farmer.id){
            <article
                class="col d-flex justify-content-center">
                @defer (on viewport){
                    <app-card-farmer [farmer]="farmer" [cities]="cities" [cropTypes]="cropTypes"></app-card-farmer>
                }
                @placeholder{
                    <app-card-farmer-placeholder></app-card-farmer-placeholder>
                }
            </article>
        }
    </section>
}
@else {
    <div *ngIf="!loading" class="w-100 text-center mt-4 me-4 fst-italic">🫥 No se han encontrado agricultores</div>
}

@if (lastError) {
    <div class="alert alert-danger alert-dismissible animate__animated animate__flash m-4"
        role="alert">
        <div>😟 {{lastError}}</div>
    </div>
}

@if (isAdmin()) {
    <button aria-label="Añadir granjero" type="button"
        class="btn btn-danger btn-lg fixed-bottom ms-auto rounded-circle btn-add"
        [ngClass]="{'animate__animated animate__rotateOut animate__faster': showButtonAnim}"
        (click)="showButtonAnim = true" (animationend)="goAddFarmer()">
    </button>
}