<div class="card ms-auto me-auto mt-2 mb-2 placeholder-glow" aria-hidden="true">
  <div  class="placeholder rect border-top"></div>
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <div class="d-flex justify-content-between">
        <a class="btn btn-primary disabled placeholder col-3" aria-disabled="true"></a>
        <a class="btn btn-success disabled placeholder col-6" aria-disabled="true"></a>
      </div>
    </div>
</div>
